body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

#game-container {
  width:800px;
  height: 600px;
  margin: auto;
  padding: 20px;
  border: 3px solid #000000;
  background-color: #ee7fee;
  box-shadow: 2px 2px 10px #aaa;
}
#start-game-button{
  background-color: #ee7fee;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: start;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #000000;
  width: 148px;
}
#username-password-container{
  width:800px;
  height: 600px;
  margin: auto;
  padding: 20px;
  border: 3px solid #000000;
  background-color: #ee7fee;
  box-shadow: 2px 2px 10px #aaa;
}

#quit-button, #check-button, #rule-button {
  background-color: #ee7fee;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: start;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #000000;
  width: 148px;
}
input, button {
  padding: 10px;
  margin: 5px;
  width: calc(300px);
  box-sizing: border-box;
}

#guess-button{
  background-color: #75f70a;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #000000;
  width: 80px;
}
#pass-button{
  background-color: #6251ff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;

  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #000000;
  width: 80px;
}


ul {
  list-style-type: none;
  padding: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
