body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

#game-container {
  width:800px;
  height: 600px;
  margin: auto;
  padding: 20px;
  border: 3px solid #000000;
  background-color: #ce79ce;
  box-shadow: 2px 2px 10px #aaa;
}

#quit-button, #check-button, #rule-button {
  background-color: #ce79ce;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: start;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #000000;
  width: 148px;
}
input, button {
  padding: 10px;
  margin: 5px;
  width: calc(300px);
  box-sizing: border-box;
}

#guess-button{
  background-color: #75f70a;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #000000;
  width: 80px;
}
#pass-button{
  background-color: #6251ff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;

  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #000000;
  width: 80px;
}


ul {
  list-style-type: none;
  padding: 0;
}
